.badge-Pédagogie {
    background-color: #0d6efd;
    color: white;
}

.badge-Événement {
    background-color: #198754;
    color: white;
}

.badge-Vie-de-campus {
    background-color: #ffc107;
    color: black;
}

.badge-Amélioration-technique {
    background-color: #0dcaf0;
    color: black;
}